@page  "/models/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit Model</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditModel" model="model" />

@code {
    [Parameter] public int id { get; set; }//This is to set the parameter required at the @page directive /models/edit/{id:int}.
    Model model = new Model();//This is the model object used by the form component. The form component will be added later.

    protected async override Task OnParametersSetAsync()
    {
        model = await _client.GetFromJsonAsync<Model>($"{Endpoints.ModelsEndpoint}/{id}");
    }

    async Task EditModel()
    {
        await _client.PutAsJsonAsync($"{Endpoints.ModelsEndpoint}/{id}", model);
        _navManager.NavigateTo("/models/");
    }
}
