@page  "/colours/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit Colour</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditColour" colour="colour" />

@code {
    [Parameter] public int id { get; set; }//This is to set the parameter required at the @page directive /models/edit/{id:int}.
    Colour colour = new Colour();//This is the model object used by the form component. The form component will be added later.

    protected async override Task OnParametersSetAsync()
    {
        colour = await _client.GetFromJsonAsync<Colour>($"{Endpoints.ColoursEndpoint}/{id}");
    }

    async Task EditColour()
    {
        await _client.PutAsJsonAsync($"{Endpoints.ColoursEndpoint}/{id}", colour);
        _navManager.NavigateTo("/colours/");
    }
}
