@page  "/customers/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit Customer</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditCustomer" customer="customer" />

@code {
    [Parameter] public int id { get; set; }//This is to set the parameter required at the @page directive /models/edit/{id:int}.
    Customer customer = new Customer();//This is the model object used by the form component. The form component will be added later.

    protected async override Task OnParametersSetAsync()
    {
        customer = await _client.GetFromJsonAsync<Customer>($"{Endpoints.CustomersEndpoint}/{id}");
    }

    async Task EditCustomer()
    {
        await _client.PutAsJsonAsync($"{Endpoints.CustomersEndpoint}/{id}", customer);
        _navManager.NavigateTo("/customers/");
    }
}

@code {

}
