@page  "/makes/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit Make</h3>
 
<FormComponent ButtonText="Update" OnValidSubmit="EditMake" make="make" />

@code {
    [Parameter] public int id { get; set; }//This is to set the parameter required at the @page directive /makes/edit/{id:int}.
    Make make = new Make();//This is the make object used by the form component. The form component will be added later.

    protected async override Task OnParametersSetAsync()
    {
        make = await _client.GetFromJsonAsync<Make>($"{Endpoints.MakesEndpoint}/{id}");
    }

    async Task EditMake()
    {
        await _client.PutAsJsonAsync($"{Endpoints.MakesEndpoint}/{id}", make);
        _navManager.NavigateTo("/makes/");
    }
}
